

.wrapper{
	.content_betting{
		.row{
			.mgtop50{
				margin-top:50px;
			}	
			.title_bet{
				font-size: 20px;
				//margin: 10px 0;
			}
			.hr_top{
				margin-top:50px;
				width: 70%;
			}
			.hr_bottom{
				margin-bottom:50px;
				width: 70%;
			}
		}
		
	}
}